<wm-page layouttype="three-column" columns="3" data-ng-controller="MainPageController" name="mainpage">
    <wm-header content="header" name="header" height="auto"></wm-header>
    <wm-top-nav name="top-nav" content="topnav"></wm-top-nav>
    <wm-content name="content">
        <wm-row name="contentRow">
            <wm-left-panel contentwidth="2" name="leftpanel" content="leftnav"></wm-left-panel>
            <wm-column class="app-content-column" columnwidth="8" paddingleft="15" paddingright="15" name="mainContent">
                <wm-label caption="Upload directory will be the username of the logged in user." fontsize="20" name="Heading"></wm-label>
                <wm-html height="auto" width="100%" name="bodyContent" content="bind:&quot;logged in as &quot;+Widgets.fileupload1.destination">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum porta gravida nisi, ac volutpat nibh adipiscing et. Fusce hendrerit nisi sed augue molestie pellentesque. Proin quis leo condimentum, tempus augue sit amet, aliquet
                        erat.
                    </p>
                </wm-html>
                <wm-tree name="tree1" dataset="bind:Variables.MyJavaServiceAllList.dataSet.value"></wm-tree>
                <wm-fileupload name="fileupload1" destination="bind:Variables.loggedInUser.dataSet.name"></wm-fileupload>
                <wm-composite widget="text" name="composite1">
                    <wm-label class="col-md-2" name="label2" caption="Uploaded directory"></wm-label>
                    <wm-text name="text1" datavalue="bind:Widgets.fileupload1.filepath" width="411"></wm-text>
                </wm-composite>
                <wm-composite widget="text" name="composite2">
                    <wm-label class="col-md-2" name="label3" caption="Filename"></wm-label>
                    <wm-text name="text2" datavalue="bind:Widgets.fileupload1.filename" width="421"></wm-text>
                </wm-composite>
                <wm-composite widget="text" name="composite3">
                    <wm-label class="col-md-2" name="label4" caption="file location"></wm-label>
                    <wm-text name="text3" datavalue="bind:Widgets.fileupload1.destination" width="414"></wm-text>
                </wm-composite>
                <wm-label name="label5" caption="bind:Variables.MyJavaServiceDisplayIt.dataSet.value"></wm-label>
                <wm-label name="label6" caption="bind:Variables.MyJavaServiceAllList.dataSet.value"></wm-label>
                <wm-grid name="grid1" dataset="bind:Variables.loggedInUser.dataSet">
                    <wm-grid-column binding="name" caption="name" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                    <wm-grid-column binding="id" caption="id" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                    <wm-grid-column binding="tenantId" caption="tenantId" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                </wm-grid>
            </wm-column>
            <wm-right-panel contentwidth="2" name="rightpanel" content="rightnav"></wm-right-panel>
        </wm-row>
    </wm-content>
    <wm-footer name="footer" content="footer"></wm-footer>
</wm-page>